/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #d91919;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ffffff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ffc107;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -ms-flexbox;
  display: flex;
  color: #d91919;
  text-shadow: 0 .1rem .9rem rgba(255, 0, 0, 0.47);
  box-shadow: inset 0 0 5rem rgba(219, 9, 9, 0.86);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  /*margin-top: 0.0rem;*/
}

.masthead-brand {
  margin-bottom: 0;
  color: #ffffff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #d91919;
  border-bottom-color: #d91919;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*
 * Input
 */

input {
  text-align:center;
  font-weight: bold;
  background: #f1d796;
  border: 1px solid red;
  border-radius: 10px 10px 10px 10px;
  color: #b21f2d;
  /*border-color: #ff0000;*/
}

input[type=text]:focus {
  outline: none;
  border-color: #d9534f;
  background: #ffd265;
  box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.07) inset, 0px 0px 8px rgb(255, 0, 0);
}

input:hover {
    outline: none;
  border-color: #d9534f;
  background: #ffd265;
  box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.07) inset, 0px 0px 8px rgb(255, 0, 0);
}

input::placeholder {
    color: #ef7979;
  opacity: 1; /* Firefox */
}
