/*
 * Input
 */
input {
    text-align: center;
    font-weight: bold;
    background: #f1d796;
    border: 1px solid red;
    border-radius: 10px 10px 10px 10px;
    color: #b21f2d;
    /*border-color: #ff0000;*/
}

input[type=text]:focus {
    outline: none;
    border-color: #d9534f;
    background: #ffd265;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.07) inset, 0px 0px 8px rgb(255, 0, 0);
}

input:hover {
    outline: none;
    border-color: #d9534f;
    background: #ffd265;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.07) inset, 0px 0px 8px rgb(255, 0, 0);
}

input::placeholder {
    color: #ef7979;
    opacity: 1; /* Firefox */
}