{% extends "game_panel/base.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'js/onclick.js' %}" async></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<main role="main" class="inner cover  my-auto">
    <h1 class="cover-heading mb-3">Type streaming</h1>
    <p class="lead">
        Use Karel language.<br>
        Lead robot to collect diamonds.<br>
        Invite your friends to show your skills.<br>
    </p>
    <form class="justify-content-center" id="myform">
        <div class="form-group">
            <label for="room-name-input"></label>
            <input id="room-name-input" autocomplete="off" class="form-control-lg" type="text" spellcheck="false"
                   placeholder="Room name.." autofocus>
            <br>
            <button class="my-3 btn btn-outline-danger" id="room-name-submit" type="button" form="form1">
                Create room
            </button>

        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
</main>
{% endblock %}

